@import "tailwindcss";

@theme {
  --color-coolgray: #263238;
  --color-coolwhite: #F0F4F8;
  --color-mcoolgray: #546e7a;
  --color-mcoolwhite: #b0bec5;
  --color-mcoolmid: #78909c;
}

body {
  background-color: var(--color-coolgray);
  color: var(--color-coolwhite);

  font-family: "Doto";
  font-weight: 300;
}