@import "tailwindcss";

@theme {
  --color-coolgray: #263238;
  --color-coolwhite: #F0F4F8;
  --color-mcoolgray: #546e7a;
  --color-mcoolwhite: #b0bec5;
  --color-mcoolmid: #78909c;
}

body {
  background-color: var(--color-coolgray);
  color: var(--color-coolwhite);

  font-family: "Doto";
  font-weight: 300;
}





/* some utility classes below */
.fade {
  mask-image: linear-gradient(180deg, #000 75%, transparent);
  -webkit-mask-image: linear-gradient(180deg, #000 75%, transparent);
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Webkit browsers */
}